main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div, button {
        width: 150px;
        height: 74px;
    }
}

button {
    max-height: 60px;
    max-width: 80px;
}

#productList{
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
}

#actionButtons {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
}
/*
#totaltotalSalesPeriodBox {
    position: absolute;
    z-index: 1000;
    box-shadow: 100%;
    po
}
    */



#listDiv {
    width: 40%;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}