main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div, button {
        width: 150px;
        height: 74px;
    }
}



#productList{
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#actionButtons {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
/*
#totaltotalSalesPeriodBox {
    position: absolute;
    z-index: 1000;
    box-shadow: 100%;
    po
}
    */