main {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-items: center;
}

button {
    height: 50px;
    width: 80px;
}

#productButtonBox{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-start: 1;    
    justify-self: center;
}

#orderControlBox {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 1;
    justify-self: center;
}
/*
#totaltotalSalesPeriodBox {
    position: absolute;
    z-index: 1000;
    box-shadow: 100%;
    po
}
    */



#orderListBox {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 1;
    justify-self: center;

}

#totalSalesPeriodBox {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-wrap: wrap;

}